@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body
{
    margin: 0;
    background-color: rgb(75, 75, 75)
    /* Original `background-color` : 140, 155, 64 */
}

#barGradient 
{
    background-image: linear-gradient(
        rgb(37, 144, 148),
        rgb(48, 79, 172)
    );
}

p.a 
{
    white-space: nowrap;
}
  
p.b 
{
    white-space: normal;
}
  
p.c
{
    white-space: pre;
}

.menu 
{
    float: left;
    position: fixed;
    
    width: 5%;
    height: 100%;

    /* margin: 0;
    padding: 0; */

    list-style-type: none;
    background-color: #f1f1f1;
}

.menuitem 
{
    padding: 8px;
    margin-top: 12px;
    border-bottom: 1px solid rgb(255, 255, 255);

    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

    font-size: medium;
    font-family: 'Segoe UI';
    font-weight: normal;
}

.menuitem:hover
{
    background-color: #29a6c5;
}

.main 
{
    float: right;
    width: 90%;
    padding: 0 20px;
    overflow: hidden;
}

@media only screen and (max-width:1000px)
{
    .main
    {
        margin-top: 200px;
    }

    .menu, .menuitem
    {
        padding: 8px;
        margin-top: 0px;
        
        width: 100%;
        height: 10%;
    }

    #barGradient
    {
        height: auto;   
    }
}

a
{
    color: white;
    font-family: 'Segoe UI';
    font-weight: normal;
}

a:link
{
    color: rgb(119, 170, 228);
}

a:visited
{
    color: rgb(119, 170, 228);
}

a:hover
{
    color: rgb(164, 231, 240)
}

b
{
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: normal;
}

p
{
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: normal;
}

h1
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h2
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h3
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h4
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h5
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}