@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#topbarGradient 
{
    background-image: linear-gradient(
        rgb(37, 144, 148),
        rgb(48, 79, 172)
    );
}

.wrapper
{
    position: absolute;
    margin: auto;
    
    top: 10%;
    left: 0%;
    right: 0%;
    bottom: 60%;

    height: 32.5%;
    width: 95%;
}

p.a 
{
    white-space: nowrap;
}
  
p.b 
{
    white-space: normal;
}
  
p.c
{
    white-space: pre;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 79, 172);
}
  
li
{
    float: left;
    display: inline;

    font-size: small;
    font-family: 'Segoe UI';
    font-weight: normal;
}

li a:hover
{
    background-color: #29a6c5;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body
{
    background-color: rgb(140, 155, 64)
}

b
{
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: normal;
}

h1
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h2
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h3
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h4
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

h5
{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

button
{
    background-color: #2d90e1;
    color: white;

    border: none;

    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    
    text-align: center;
    display: inline-block;
    cursor: pointer;
}