.column 
{
    float: left;
    width: 33.33%;
    padding: 20px;
}

.row::after
{
    content: "";
    clear: both;
    display: table;
}

.center 
{
    position: inherit;
    left: 50%;
}

@media only screen and (max-width:1000px)
{
    .column {
        width: 100%;
      }
}

img
{
    max-width: 75%;
}