/* Systematics */
.center 
{
    position: absolute;
    margin: auto;

    top: 40%;
    left: 0%;
    right: 0%;
    bottom: 50%;
}

p
{
    color: white;
}

button
{
    background-color: #2d90e1;
    color: white;

    border: none;

    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    
    text-align: center;
    display: inline-block;
    cursor: pointer;
}