/*  Generics */
body
{
    background-color: rgb(151, 165, 82);
}

h1
{
    color: white;
    text-align: center;
    font-family: courier;
}

h2
{
    color: white;
    text-align: center;
    font-family: courier;
}

h3
{
    color: white;
    text-align: center;
    font-family: courier;
}

h4
{
    color: white;
    text-align: center;
    font-family: courier;
}

h5
{
    color: white;
    text-align: center;
    font-family: courier;
}

button
{
    background-color: #2d90e1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Customs */
#GenericParagraph
{
    color: white;
    text-align: center;
    font-family: verdana;
}